<header>
  <h2>NYC Social Service Mapper</h2>

  <h3>Find Resources Near You</h3>
</header>

<section>
  <div class="about">
   <p>The city of New York maintains a <%= link_to "database", "https://nycopendata.socrata.com/", target: "_blank" %> of social service agencies. Until now, there was no simple way for ordinary people to browse, filter, or view them. Helpfrog aims to provide the missing link between the open data portal and regular New Yorkers. Just enter an address or intersection, choose one or more categories, and we'll show you a map and list of the nearest resources.</p>
  </div>
</section>

<section>
<%= render 'search_form' %>
</section>

<footer>
  <p>HelpFrog is designed for use on library or social service agency computers and <strong>doesn't</strong> require an email address, smartphone, phone number, or ID of any kind. Helpfrog is an <%= link_to "open source", "https://github.com/luciankahn/helpfrog", target: "_blank" %> app. Built and maintained by <%= link_to "Lucian Kahn", "http://luciankahn.com", target: "_blank" %> (using Ruby on Rails, jQuery, Google Maps API, Ruby Geocoder) and <%= link_to "Miriam Nadler", "http://miri.codes/", target: "_blank" %> (using Sass, jQuery, Design, Miriam's Technologies Go Here). Original Sinatra prototype by Lucian Kahn.</p>
</footer>