<!DOCTYPE html>
<html>
<head>
  <title>Helpfrog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/zxt5oga.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="<%= controller.controller_name %>">
    <div class="title">
      <div class="title__card">
        <h1>
          <%= link_to "Helpfrog", index_path %>
        </h1>
        <h2>NYC Social Service Mapper</h2>
      </div>
    </div>
    <div class="container">
    <%= yield %>

</body>
</html>
