<h1><%= @place.name %></h1>

<% @place.categories.each do |cat| %>
  <p><a href="/categories/<%= cat.id %>"><%= cat.name %></a></p>
<% end %>

<p><%= @place.address %></p>
<p><%= @place.phone_number %></p>
<p>Last updated: <%= @place.updated_at%></p>

<p>Map Goes Here.</p>

<h2>Comment on this Resource:</h2>

<%= erb :'places/_new-comment' %>

<h2>User Comments:</h2>
<% @place.comments.reverse_each do |comment| %>
  <h3><%= comment.title %></h3>
  <p>Posted on <%= comment.created_at %></p>
  <p><%= comment.content %></p>
<% end %>