<div class="places__place">

<h1 class="places__title"><%= @place.name %></h1>

<div class="places__meta">
<div class="places__categories">
<% @place.categories.each do |cat| %>
  <p><%= cat.name %></p>
<% end %>
</div>

<p class="places__meta__item"><%= @place.address %></p>
<p class="places__meta__item"><%= @place.phone_number %></p>
<p class="places__meta__item">Last updated: <%= @place.updated_at.strftime("%m/%d/%Y") %></p>
</div>
<div class="places__description">
  <% if @place.description != nil %>
    <p><%= @place.description %></p>
  <% end %>
</div>

</div>

<div class="places__nav">
  <a href="#" id="previous-results">See Previous Results</a>
  <%= link_to "New Search", index_path %>

</div>